/* Estilo para el menú */
/* Cosas que sobran para el menú: *{margin:30;padding:10;box-sizing:border-box;font-size:0;} */

    nav a
        {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        }

    nav li
        {
        display: inline-block;
        background-color: rgba(192, 192, 27, 0.747);
        border-radius: 3px ;
        text-align: center;
        color: red;
        width: 15%;
        padding: 7px 12px;
        }

    nav li:hover
        {
        background-color: rgba(255, 68, 0, 0.644);
        color: rgb(216, 30, 30);
        }


        
